apiVersion: v1
data:
  fluent.conf: "# fluentd/conf/fluent.conf\r\n<source>\r\n  @type forward\r\n  port
    24224\r\n  bind 0.0.0.0\r\n</source>\r\n\r\n@include kubernetes.conf\r\n\r\n<match
    *.**>\r\n  @type copy\r\n  <store>\r\n    @type opensearch\r\n    scheme https\r\n
    \   hosts opensearch\r\n    ssl_verify false\r\n    ssl_version TLSv1_2\r\n    user
    admin\r\n    password admin\r\n    port 9200\r\n    logstash_format true\r\n    logstash_prefix
    fluentd\r\n    logstash_dateformat %Y%m%d\r\n    include_tag_key true\r\n    type_name
    access_log\r\n    tag_key @log_name\r\n\tbuffer_chunk_limit 2M\r\n    buffer_queue_limit
    32\r\n    flush_interval 5s\r\n    max_retry_wait 30\r\n    disable_retry_limit\r\n
    \   num_threads 8\r\n  </store>\r\n  <store>\r\n    @type stdout\r\n  </store>\r\n</match>"
  kubernetes.conf: "<source>\r\n  @type tail\r\n  @id in_tail_container_logs\r\n  path
    /var/log/containers/*.log\r\n  pos_file /var/log/fluentd/kubernetes.log.pos\r\n
    \ tag kubernetes.*\r\n  read_from_head true\r\n  <parse>\r\n    @type json\r\n
    \   time_format %Y-%m-%dT%H:%M:%S.%NZ\r\n  </parse>\r\n</source>"
kind: ConfigMap
metadata:
  creationTimestamp: null
  name: fluentd-configuration
  namespace: opensearch
